
.wrapper{
    margin: 15% 40% auto;
}

.container {
    text-align: center;
    background-color: white;
    border: 1px solid;
    position: absolute;
    width: 240px;
    height: 16vh;
    padding: 20px;
}

.field {
    margin-top: 10px;
    position: relative;

    label{
        position: relative;
        pointer-events: none;
        top: 40%;
        left: 0;
        translate: 0 -50%;
    }

    input {
        position: relative;
        width: 100%;
        border: none;
        background: transparent;
        line-height: 2em;
        border-bottom: 1px solid rgb(56, 118, 209);
    }
}
