<div class="row" >
    <div class="statusBox" [ngStyle]="{
        'background-color': item.status === 'обычный' ? 'orange' :
                            item.status === 'важный' ? 'red' :
                            'green'
    }">
        <select (change)="changeStatus($event)">
            <option value="обычный">обычный</option>
            <option value="важный">важный</option>
            <option value="выполненный">выполненный</option>
        </select>
    </div>
    <div class="text">{{item.text}}</div>
    <button class="delete" (click)="todoService.deleteToDo(rowIndex)">Удалить</button>
</div>
