
.formBox {
    background-color:whitesmoke;
    margin: 5px;
    padding: 15px;
    border: 1px solid;
    position:fixed;
    top:0;
}

.new {
    display: flex;
    flex-direction: column;
}

textarea {
    resize: vertical;
}
